<h1>Hi, I'm Angelina</h1>

<button>direct to about me</button>

<button>direct to contact</button>

<button>direct to projects</button>


<h2>CV really shortened</h2>

<h2>Projects</h2>
<p>1. sweet travels</p>
<p>2. pillowtalks</p>
<p>3. mister cocktail</p>
